
 body {
   background-color: #212121;
  color: #fff;
 }     
 .container{
   text-align: center;
   margin-top: 150px;
}
 
#results{
   margin-top:10px;
   background-color: #a34545;
   color:bisque;
   text-align: center;
 }
